<center><div class="BigBox">
<div class="header">
	<img src="images/patscatslogo.png">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/about">About</a></li>
    <li><a ng-href="#/contact">Contact</a></li>
    <li><a ng-href="#/adopt">Adopt</a></li>
    <li><a ng-href="#/donate">Donate</a></li>
    <li><a ng-href="#/volunteer">Volunteer</a></li>
    
  </ul>
</div>

<div class="Contentss">
<div class="About">
<h1>What we do</h1>
<p>Feral Cat Solutions practices Trap-Neuter-Return, it's best for the quality of the community and the quality of life for the animals.</p>
<h3>
Why should you consider Trap-Neuter-Return of your feral cat colony?</h3>
<p>
1. The cycle of kittens will be broken.
Our shelters are full of kittens needing homes – preventing litters means more of those will find homes.
2. Nuisance behaviors (spraying,yowling,fighting) will end. 
3. When maintained with consistent food and shelter, the colony’s living area will shrink and males will no longer roam.
A well-managed stabilized feral cat colony can be almost invisible to neighbors.
4. The sterilized and vaccinated cats will become healthier
as their bodies no longer need to contend with reproductive needs.
5. The cats will continue to keep rodents and snakes under control.
6. TNR results in a group of cats who are still not socialized to humans and keep their distance;
they will still not approach and/or attack humans. They will, however, become more docile over time.
7. Stabilizing a feral cat colony is cost effective. 
Female cats can go into heat 4 to 6 times a year in our climate. A colony of ten cats that costs about $8 a week to 
feed can quickly become a colony of 30 cats costing $24 a week to feed – or $832 more per year.
8. Removal of feral cats does not work.  
If the current cats are removed, cats from the surrounding area will move in and establish a new colony 
(the "vacuum effect" has been well documented). 
If relocation is attempted, many cats will find their way back to their original home.
Feral cats will be euthanized if taken to shelters because they can not be adopted as pets.
TNR is the most effective method available for controlling feral cat colonies. 
It is the solution to the feral cat problem.
Feral cats are a fact of life in our throw-away society, resulting from abandoned or neglected pet cats. 
 A managed colony is the only true solution for all those who use the property on which feral cats reside,
 whether they "like" cats or not. 
It is the only hope for the cats and a sound decision for property owners.
Around the world, progressive municipalities have successfully implemented TNR programs 
resulting in measurable decreases in feral cat populations as compared to their previous eradication programs.
Stabilization of your feral cat colony will result in a huge improvement to the quality of life 
for both you and the cats!

FCS IS A NON-PROFIT OPERATION - DONATIONS ACCEPTED.
<h4><a ng-href="#/donate">Donate Now!</a></h4>



</div>
</div>



<div class="footer">
</div>
</div>
