<center><div class="BigBox">
<div class="header">
	<img src="images/patscatslogo.png">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/about">About</a></li>
    <li><a ng-href="#/contact">Contact</a></li>
    <li><a ng-href="#/adopt">Adopt</a></li>
    <li><a ng-href="#/donate">Donate</a></li>
    <li><a ng-href="#/volunteer">Volunteer</a></li>
    
  </ul>
</div>
<div class="Contentss">
<div class="Adoptables">
	 <div ng-controller="CatCtrl">
	<div class="cat-listhtml">
		<div data-ng-repeat="cat in cats">	
		<h1>{{cat.name}}</h1>
		<img ng-src="{{cat.pic1}}">
		<p>{{cat.description}}</p>
		</div>
</div>
</div>


</div>



<div class="footer">
</div>
</div>
</div>
