<center><div class="BigBox">
<div class="header">
	<img src="images/patscatslogo.png">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/about">About</a></li>
    <li><a ng-href="#/contact">Contact</a></li>
    <li><a ng-href="#/adopt">Adopt</a></li>
    <li><a ng-href="#/donate">Donate</a></li>
    <li><a ng-href="#/volunteer">Volunteer</a></li>
    
  </ul>
</div>

<div class="Contentss">
	<div class="col-md-9">
		<div class="About">
<h4>What is TNR?</h4>
<p>TNR is Trap.Neuter.Return. TNR is one of the most effective ways to handle the feral cat population. Cats establish colonies on their own and these colonies can grow quickly and become disruptive and difficult which is where TNR comes in. We humanely trap, neuter as well as vaccinate, and then re-lease the cat into it's existing colony. Removing a colony is ineffective and the cats often return. TNR provides a way to eliminate nuiscance behavior and procreation, protecting both the cats and community!</p>
<iframe width="420" height="315" src="//www.youtube.com/embed/wStelvgzMyY" frameborder="0" allowfullscreen></iframe>
<p>FCS IS A NON-PROFIT OPERATION - DONATIONS ACCEPTED.</p>
<h4><a ng-href="#/donate">Donate Now!</a></h4>
</div>
</div>
<div class="col-md-3">
	<h3>About Me</h3>
	<img src="https://mail.google.com/mail/u/0/?ui=2&ik=a7a12c7c45&view=fimg&th=148684ce72b347dc&attid=0.1&disp=inline&safe=1&attbid=ANGjdJ_yoc5Op8hCQFQQnTtEAQ15buD5g4pBTu6Rr2vBbx1-2gdCIVnZ_hke0mMfyCfnYg4EQwDcUvLJca3R85t6jkeayX1WJEvg0Oe_5-Gnh7sPf1qJ1_PZPJNxhec&ats=1410890111321&rm=148684ce72b347dc&zw&sz=w1131-h673">
	<p>Hello, and welcome. I started this venture a while ago while working another job and seeing the need for a solution to the feral cat problem we see in our communities. I have found that TNR is the best way to care for the animals and the community. I am passionate about what I do and work everyday to make a difference. Thank you
		-Pat Peters</p>
	</div>



<div class="footer">
</div>
</div>
