<center><div class="BigBox">
<div class="header">
	<img src="images/patscatslogo.png">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/about">About</a></li>
    <li><a ng-href="#/contact">Contact</a></li>
    <li><a ng-href="#/adopt">Adopt</a></li>
    <li><a ng-href="#/donate">Donate</a></li>
    <li><a ng-href="#/volunteer">Volunteer</a></li>
    </ul>
</div>

<div class="Contentss">
<div class="Volunteer">
	<p>Feral Cat Solutions needs volunteers! We need volunteers to help foster the cats looking for homes as we process them. Fill out the application below if you are intrested in lending a hand. Thank you for your time.
	 	     -Pat Peters </p>
</div>
<div class="VolunteerForm">
	<form ng-submit="volunteer()">
		<input type="text" class="form-control" name="firstname" placeholder="First Name">
		<input type="text" class="form-control" name="lastname" placeholder="Last Name">
		<input type="text" class="form-control" name="address" placeholder="Address">
		
		
		<p>Will you be able to transport the cat/cats for any appointments?</p>
		<input type="radio" name="yes" value="Yes">Yes
		<input type="radio" name"no" value"No">No<br>
		<br>


		Anything else we should know?<textarea class="form-control"></textarea>
		<br>
		<br>
		 <input type="button" value="Submit">


	</form>
	</div>



<div class="footer">
</div>
</div>
</div>